<h1>LOGIN PAGE</h1>
<form action="login" method="POST">
    <input type="text" name="username" placeholder="username"/>
    <input type="text" name="password" placeholder="password"/>
    <input type="submit" value="Submit" >
</form>
<li><a href="/register">Sign up</a></li>