<h1>SING-UP PAGE</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="username"/>
    <input type="password" name="password" placeholder="password"/>
    <input type="submit" value="Submit" >
</form>

<li><a href="/register">Sign up</a></li>
<li><a href="/login">Login</a></li>
