<body>

<form action="/secret" method="DELETE">
<ul>
<% users.forEach(function(user){ %>
<li>
    <%= user.username %>
    <!--<input type="submit" value="Delete">-->
    <span>
        <a href="/destroy/<%= user._id %>" class="button">Delete</a>
    </span>
      <!--<a href="/destroy/<%= user._id %>">Deletes</a>-->
    
</li>
<% })%>
</ul>
</form>

</body>



<li><a href="/logout">Logout</a></li>